@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

.manrope-800 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
body {
  height: 100vh;
  height: 100svh;
  display: grid;
  place-content: center;
  background-color: var(--dark-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: var(--dark-grayish-blue);

  /* Mobile */
  /* padding-block: 2.5rem 4rem; */
  /* border-radius: 8px; */
  /* padding-inline: 1.4rem; */
  /* Desktop */
  padding-block: 3rem 4.5rem;
  border-radius: 8px;
  padding-inline: 2.55rem;

  /* gap: 1.5rem; */
}
picture {
  /* padding-block-start: 4rem; */
  color: var(--grayish-blue);
}
.advice-heading {
  color: var(--neon-green);
  /* Mobile */
  /* font-size: 0.7rem; */
  /* letter-spacing: 0.2rem; */
  /* padding-block-end: 1.5rem; */
  /* Desktop */
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  padding-block-end: 1rem;
}
.advice-text {
  color: var(--light-cyan);
  /* Mobile */
  font-size: 1.45rem;
  max-width: 19ch;
  /* padding-block-end: 0.9rem; */
  /* Desktop */
  font-size: 1.7rem;
  max-width: 25ch;
  /* padding-block-start: 2rem; */
  padding-block-end: 2rem;
}

.advice-num {
  letter-spacing: 0;
  font-size: 0.65rem;
}
.dice-bg {
  padding-inline: 1.25rem;
  padding-block: 1.25rem;
  border-radius: 2.5rem;
  background-color: var(--neon-green);
  position: absolute;
  margin-inline: auto;
  bottom: -2rem;
}

.dice-bg:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px 0px var(--neon-green);
}
